/* Minimal reset */
* {
  margin: 0;
  padding: 0;
}

/* Styles */

body {
  background: rgb(148, 255, 162); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgb(255, 83, 68) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%, rgb(255, 107, 85))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%, rgb(255, 70, 137) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%, rgb(255, 63, 224) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%, rgb(255, 127, 62) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%, rgb(255, 149, 144) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

/* Comment! */

a {
  color: #1f8033;
}
a:hover {
  color: #2eff3d;
}

nav a {
  color: #275fff;
  text-decoration: none;
  font-size: 18px;
}

article.first {
  font-size: 28px;
  font-family: 'courier new';
}

p { margin: 5px 0 10px 0; }

p:first-letter {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

footer p:before {
  content: " --> ";
}